@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.woff"),
    url("./assets/fonts/Space_Mono/SpaceMono-Regular.woff2");

}

@font-face {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Poppins/Poppins-Regular.woff"),
    url("./assets/fonts/Poppins/Poppins-Regular.woff2");

}

body{
margin:auto;
max-width: 1440px;
width: 100%;

    
}

#wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.content{

    margin-left: 146px;
    margin-right: 146px;
}



li{

     
     list-style-type: none;

}



a{

    text-decoration: none;
    color: black;
    font-family: "Space Mono";

}

#menu-main-menu{

      display: flex;
      gap: 50px;
      margin-right: 142px;
      float: right;
      

}


#menu-main-menu.active{

    visibility: visible;

}

/*MODALE*/

.overlay {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}


label{

    font-family:'Poppins';
}

.modale ul input{

    height: 40px;
    width: 263px;
    border-width: 1px;
    border-color:#B8BBC2;
    border-radius: 8px;
    border-style: solid;
    margin-bottom: 20px;

}

.modale li{

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modale ul{

    padding: 0;
}

.modale textarea{

    height: 210px;
    width: 263px;
    border-width: 1px;
    border-radius: 8px;
    border-color:#B8BBC2;
    
    
}

input[type="submit" i]{

    width:263px;
    height:50px;
    border-color:#D8D8D8;
    background-color:#D8D8D8;
    border-radius: 2px;
    border-style: solid;
    font-family: "Space Mono";
}
.modale{

    display: none ;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: white;
    width: 597px;
    height: 759px;
    /* bottom: 0;
    position: fixed; */
    
}

.modale form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.overlay.active,
.modale.active{

    
    display: flex;
    
}

/* FOOTER */
.my-footer-menu{

     display: flex;
     column-gap: 70px;

}

#footer{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top: solid;
    
    
}

/* HEADER */

#header{

    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#site-title{
    
    position: relative;
    left: 146px;
}

#branding{

    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
}

#menu{

    width: 100%;
}

.bannerimage img{

    width: 100%;
    object-fit: cover;
    
}

.bannerimage{

    width: 100%;
    height: 100%;
    max-height: 962px;
    height: 100%;
}

.bannerimg{

    width: 100%;
    max-height: 962px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.titrebanniere{

    position: absolute;
    top: 500px;
    width: 70%;
}

.titrebanniere img{

    width: 100%;
    object-fit: contain;
}


.menu-toggle{

    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: white;
    float: right;
    display: none;
    
} 

.menu-toggle span{

    width: 30px;
    height: 2px;
    background-color: black;

}

.l1 {
    transform: translateY(-10px);
}
  
.l3 {
    transform: translateY(10px);
}

.menu-toggle.active .l1 {

    transform: translateY(3px) rotate(140deg);

}
  
.menu-toggle.active .l2 {

    opacity: 0;

}
  
.menu-toggle.active .l3 {

    transform: translateY(0px) rotate(-144deg);

}

.contactsingle{

    display: flex;
    width: 100%;
    justify-content: space-between;
    /* gap: 300px; */
    align-items: center;
}

.contactsingle > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.contactsingle p{

    width: 197px;
    
}


/* POST Single */

.hr2{

    display: none;
    width: 100%;
    filter: blur(3px);
}

.hrUn{

    width: 38%;
    position: absolute;
    top: 956px;
    color: black;
}

.photosingle{

    display: flex;
    height: 150px;
    align-items: center;

}

.main-single{

    margin-left: 146px;
    margin-right: 146px;
    
    margin-top: 50px;
}

.post{

    display: flex;
    max-height: 844px;
    height: 100%;
    width: 100%;
    align-items: center;
    box-shadow: 0 -30px 35px -48px #D8D8D8;
    
}


.post-title{
    
    font-family: "Space Mono";   
    font-style: italic;
    font-size: 66px;
    width: 70%;
    margin-top: -265px;
}

.postinfo{

    width: 50%;
    position: relative;
    top: 306px;
}

.postinfo p{

    font-family: 'Space Mono';
}


.singleimg{

width: 50%;
position: relative;

}

.singleimg img{

    object-fit: cover;
    width: 100%;
    height: 844px;
    
    
}

.vousaimerezimg{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.vousaimerezimg img{

    height: 495px;
    width: 100%;

}

.vousaimerezimg ul{

    width: 50%;
    padding: 0;
    margin: 0;
}
.vousaimerez{

    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

}

.vousaimerez hr{

    width: 100%;

}

.galerie-single{

    display: flex;
    justify-content: center;
    gap: 25px;
    width: 90%;
}


.galerie-single a img{

    object-fit: cover;
    height: 495px;
    width: 564px;
}


/* GALERIE */

.galerie{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 200px;
    width: 90%;
    
}

.galerie_photo{

    max-width: 564px;
    width: 100%;
    max-height: 495px;
    height: 100%;
}

.galerie a img{

    object-fit: cover; 
    height: 495px;
    width: 564px;
}

.galeriebox{
    display: flex;
    justify-content: center;
}

.loadmore{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 50px;

}

.loadmore p{

  width: 272px;
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-radius: 2px;
  font-family: "Space mono";

}



.contactsingle button{

    width: 272px;
    height: 50px;
    background-color: #D8D8D8;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Space Mono';
    border: none;
    border-radius: 2px;
    margin-right: 315px;
}

.taxonomy select{

    border-radius: 6px;
    border-color: lightgrey;
    width: 182px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins';
}

.taxonomy{

    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 160px;
}

.taxonomy select{

    width: 242px;
    height: 43px;
}

.categorie{

    position: relative;
    right: 212px;

}

.format{

    position: relative;
    right: 134px;

}

.trier{

    position: relative;
    left: 212px;
}



/* SLIDER SINGLE */

.slidersingle a{

    position: absolute;

}
.slidersingle a img{

    width: 110px;
    height: 110px;
    position: relative;
    left: 195px;
}

.slidernext{
    position: relative;
    
}

.sliderprev{
    position: relative;
    
}

.page:hover>.imgprev img {
    
    visibility: visible;
    
}

.page:hover>.imgnext img {
    
    visibility: visible;
    
}

.pagination a{

    color: white;
}

.imgnext  img{

    width: 100px;
    height: 100px;
    visibility: hidden;
    
}

.imgprev  img{

    width: 100px;
    height: 100px;
    visibility: hidden;
    
}

.pagination{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px;
    margin-top: 30px;
    

}

/* LIGHTBOX */

.lightbox__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    

  }

.lightbox{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.8);
    display: none;
    

}

.show{

    display: block;
    

}

.lightbox__next{
  
    position: relative;
    left: 395px;
    top: 280px;
}

.lightbox__prev{
   
    position: relative;
    left: -407px;
    top:280px;
    
}

.lightbox__close{
    
    position: relative;
    left: 395px;
}

/* HOVER LIGHTBOX */

.hover_lightbox{

    position: absolute;
    max-width: 565px;
    width: 100%;
    height: 495px;
    background: #000000bf;
    opacity: 0;
    /* display: none; */
    flex-direction: row;
    transition-duration: 1s;
}

.hover_lightbox_vousAimerez{

    position: absolute;
    width: 793px;
    height: 495px;
    background: #000000bf;
    opacity: 0;
    /* display: none; */
    flex-direction: row;
    transition-duration: 1s;

}

.hover_lightbox_vousAimerez:hover{

    opacity: 1;

}

.hover_lightbox:hover{

    opacity: 1;

}

.hover_lightbox p{

    color: white;
}

.oeil{

    width:46px !important;
    height:31px !important;
    position: relative;
    top: 231px;
    left: 225px ;
}

.fullscreen{

    width: 34px !important;
    height: 34px !important;
    position: relative;
    top: 11px;
    left: 512px;
}

.ref{

    position: relative;
    top: 405px;
    left: 25px;
    font-family: 'Space Mono';
    

}

.cat{

    position: relative;
    top: 365px;
    left: 442px;
    font-family: 'Space Mono';
}

.oeilV{

    width:46px !important;
    height:31px !important;
    position: relative;
    top: 231px;
    left: 320px;
    
}

.fullscreenV{

    width: 34px !important;
    height: 34px !important;
    position: relative;
    top: 11px;
    left: 737px;
}

.refV{

    position: relative;
    top: 405px;
    left: 25px;
    font-family: 'Space Mono';
    color: white;
    

}

.catV{

    position: relative;
    top: 365px;
    left: 700px;
    font-family: 'Space Mono';
    color: white;
}

.lightbox__container_photo_meta {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 850px;
    color: white;
    width: 50%;
    gap: 435px;
}

.lightbox__container_photo_meta h4{

    font-family: "Space Mono";  
}

.lightbox__container__photo img{

    width: 564px;
    height: 495px;
    object-fit: cover;
}

.lightbox__container__photo{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}



@media screen and (max-width: 1300px){

    .taxonomy{

        align-items: center;
        gap: 5px;
        flex-direction: column;
    }

    .categorie {

        position: initial;
    }

    .format {

        position: initial;
    }

    .trier {

        position: initial;
    }

    .galerie-single{

        display: flex;
        flex-direction: column;
    }

    .vousaimerez h3{

        
        display: flex;
        justify-content: center;
        

    }
    
    .pagination{

        display: none;
    }
    
}

@media screen and (max-width: 850px){

    .menu-toggle{

        display: flex;
        margin-right: 25px;
    }

    #menu-main-menu a{

        color: white;
        font-size: 44px;
    }

    #menu-main-menu{

        display: flex;
        visibility: hidden;
        position: absolute;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 812px;
        flex-direction: column;
        gap: 60px;
        left: 0px;
        top: 55px;
        padding: 0;
        background-color: #E00000;
        z-index: 2;
        
        
    }

    .lightbox__container__photo img {
        
        height: 279px;
        width: 318px;
        object-fit: cover;
    }

    .lightbox__close{

        left:252px;
    }

    .lightbox__prev{

        top: 152px;
        left: -231px;
        
    }

    .lightbox__next{

        left: 224px;
        top: 173px;

    }

    .lightbox__container_photo_meta {

        position: absolute;
        display: flex;
        justify-content: center;
        top: 630px;
        color: white;
        width: 50%;
        gap: 177px;

    }

    .contactsingle p {
    
        margin-right: 75px;
    }

    .hrUn{

        width: 100%;
        left: 0;
        top: 1237px;
    }

    .hr2{

        display: inherit;
        
    }

    .contactsingle button{

        margin-right: initial;
    }

    
    
    .post {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        
        
    }

    .postinfo {
        width: 100%;
        top: inherit;
        margin-bottom: 70px;
    

    }
    
    .post-title {
        font-family: "Space Mono";
        font-style: italic;
        font-size: xx-large;
        width: 70%;
        margin-top: initial;
    }

    .singleimg {
        width: 100%;
        height: 900px;
        position: relative;
        left: initial;
    }

    .singleimg img {
        
        object-fit: cover;
        height: 100%;
    }

    .contactsingle {

        display: flex;
        width: 100%;
        gap: initial;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .photosingle img {

        display: none;
    
    }

    .photosingle {

        margin-top: 115px;
    
    }

    .vousaimerezimg{

        
        flex-direction: column;
        

    }

    .vousaimerez{

        
        margin-left: initial;
        margin-right: initial;
        

    }


    .my-footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #site-title{

        position: relative;
        left: 60px;
    }


    .bannerimage img {
        width: 100%;
        object-fit: cover;
        height: 600px;
    }

    .titrebanniere {
        position: absolute;
        top: 339px;
        width: 70%;
    }

    .taxonomy {
        
        position: relative;
        top: 90px;
    }

    .main-single {
        margin-left: 100px;
        margin-right: 100px;
        
    }
}

@media screen and (max-width: 600px){


    .galerie a img {
        object-fit: cover;
        height: 279px;
        width: 318px;
    }

    
    .galerie {
        display: flex;
        flex-wrap: initial;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin-top: 200px;
        width: 90%;
    }

    .galerie_photo {
        max-width: 564px;
        width: 100%;
        max-height: 495px;
        height: 100%;
        justify-content: center;
        display: flex;
    }

    
    .hover_lightbox {
        
        display: none;
        
    }

     .bannerimage img {

        height: 400px;
    }

    .titrebanniere {
        position: absolute;
        top: 234px;
        width: 78%;
    }

    .main-single {
        margin-left: 56px;
        margin-right: 56px;
        
    }

    .vousaimerez- .galeriebox{

        display: flex;
    }

    .vousaimerezimg a img{

        object-fit: cover;
        height: 279px;
        width: 318px;
    }

    .post {
        
        margin-top: 130px;
        
        
    }

    .postinfo{
        
        top: 50px;
        
        
    }

    .hrUn {
        
        top: 1167px;
    }

    .modale {
        
        max-width: 286px;
        width: 100%;
        height: 690px;
    }

    .modale form {
        
        margin-top: 0px;
    }

    .modale ul input {

        height: 40px;
        max-width: 190px;
               
    }

    .modale textarea {

        height: 149px;
        width: 190px;
        
    }

    .modale img{

        width: 100%;
        object-fit: contain;
    }

    input[type="submit" i] {
        width: 190px;
        
    }

}
        
    


    




