@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Space_Mono/SpaceMono-Regular.woff"),
    url("./assets/fonts/Space_Mono/SpaceMono-Regular.woff2");

}

@font-face {
    font-family:'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Poppins/Poppins-Regular.woff"),
    url("./assets/fonts/Poppins/Poppins-Regular.woff2");

}

body{
margin:0;
padding: 0;
    
}

.content{

    margin-left: 146px;
    margin-right: 146px;
}



li{

     
     list-style-type: none;

}



a{

    text-decoration: none;
    color: black;
    font-family: "Space Mono";

}

#menu-main-menu{

      display: flex;
      gap: 50px;
      margin-right: 100px;
      float: right;
      

}

.modale{

    display: none;
}

.modale form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wpcf7-spinner{

    display: none;
}

.modale.active{

    display: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
}


.my-footer-menu{

     display: flex;
     column-gap: 70px;

}

#footer{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top: solid;
    
    
}

#header{

    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#site-title{
    
    position: relative;
    left: 146px;
}

#branding{

    width: 100%;
    display: flex;
    align-items: center;
}

#menu{

    width: 100%;
}

label{

    font-family:'Poppins';
}

label input{

    height: 40px;
    width: 263px;
    border-width: 1px;
    border-color:#B8BBC2;
    border-radius: 8px;
    border-style: solid;

}

label textarea{

    height: 210px;
    width: 263px;
    border-width: 1px;
    border-radius: 8px;
    border-color:#B8BBC2;
    
    
}

input[type="submit" i]{

    width:263px;
    height:50px;
    border-color:#D8D8D8;
    background-color:#D8D8D8;
    border-radius: 2px;
    border-style: solid;
    font-family: "Space Mono";
}

.post{

    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 0 -30px 35px -48px #D8D8D8;
    
}

.post-title{
    
    font-family: "Space Mono";   
    font-style: italic;
}

.post-info{
    
    font-family: "Space Mono";
    position: relative;
    
}

.postinfo{

    width: 50%;
    position: relative;
    top: 396px;
}

.singleimg{

width: 40%;
position: relative;
left: 162px;
}

.singleimg img{

    object-fit: cover;
    width: 100%;
    
}

.galerie{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-top: 200px;
    width: 90%;
    margin-left: 146px;
    

}

.galerie img{

    width: 35%;
    object-fit: cover; 
    height: 495px;
    width: 564px;
}

.galeriebox{
    display: flex;
    justify-content: center;
}

.bannerimg img{

    width: 100%;
    
    
}

.bannerimg{

    width: 100%;
    height: 962px;
    display: flex;
    justify-content: center;
}

.titrebanniere{

    position: absolute;
    top: 500px;
}

.taxonomy{

    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 160px;
}

.menu-toggle{

    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: white;
    border: white;
    float: right;
    display: none;
    

} 

.menu-toggle span{

    width: 30px;
    height: 2px;
    background-color: black;
}

.contactsingle{

    display: flex;
    width: 80%;
    gap: 300px;
    align-items: center;
}

.photosingle{

    display: flex;
}

.menu-item-76{

    width: 272px;
    height: 50px;
    background-color: #D8D8D8;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-single{

    margin-left: 146px;
    margin-right: 146px;
    
    margin-top: 50px;
}



